<article class="patient-item">

  <div class="patient-item-content" style="text-align: left;">
    <h2>Patient: <%= report.patient_name %></h2>  
    <p> Report: <%= report.report %></p>
    <p> <%= report.timereported %></p>
    
   
    <div class="patient-item-actions">
      <a class="btn btn-alt" href="/dr/reports/<%= report.id%>/edit">Edit</a>
      <form action="/dr/reports/<%= report.id %>/delete" method="POST">
        <button class="btn btn-alt">Delete</button>
        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
      </form>
     
      
      
    </div>
  </div>
</article>
