

<%- include('../../shared/includes/head', { pageTitle: 'Update Report' }) %>
<link rel="stylesheet" href="/styles/forms.css">
<script src="/scripts/image-preview.js" defer></script>

</head>
<body>
  <%- include('../../shared/includes/header') %>

<main>
<form action="/dr/reports/<%= report.id%>/edit" method="POST">
 
  
  <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
       

 
  
    <p>
      <label for="report">Report</label>
      <textarea id="report" name="report" rows="7"> <%= report.report %> </textarea>
    </p>
   
  
<p>
  <button type="reset" class="btn btn-alt">Reset</button>
  <button class="btn">Save</button>
</p>
</form>
</main>

<%- include('../../shared/includes/footer') %>

