

<%- include('../../shared/includes/head', { pageTitle: 'update-glucoResult' }) %>
<link rel="stylesheet" href="/styles/forms.css">
<script src="/scripts/image-preview.js" defer></script>

</head>
<body>
  <%- include('../../shared/includes/header') %>

<main>
  <form action="/dr/glucoResults/<%= glucoCheck.id%>/edit" method="POST">
   
 
  
  <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
       

 
  

     <p>
      <label for="results">Report</label>
      <textarea id="results" name="results" rows="7"> <%= glucoCheck.results %> </textarea>
    </p>

   
  
<p>
  <button type="reset" class="btn btn-alt">Reset</button>
  <button class="btn">Save</button>
</p>
</form>
</main>

<%- include('../../shared/includes/footer') %>

