<article class="patient-item">

  <div class="patient-item-content" style="text-align: left;">
    <h2 style="text-align: center;"> <%= cardiacReading.patient_name %></h2> 
    
    <p> Patient Number:</br> <%= cardiacReading.patient_id %></p>
    <p> Rsults:</br> <%= cardiacReading.results %></p>
    <p> Time:</br> <%= cardiacReading.timeTaken %></p>
    
  
   
   
   
    <div class="patient-item-actions">
      <a class="btn btn-alt" href="/dr/update-cardiacResult/<%= cardiacReading.id%>/edit">Edit</a>
      <form action="/dr/cardiacPatients/<%= cardiacReading.id %>/delete" method="POST">
        <button class="btn btn-alt">Delete</button>
        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
      </form>
     
      
      
    </div>
      
     
      
      
    </div>
  </div>
</article>
